// check
.calculator-check
	position relative

.check__box
	position absolute
	width 1em
	height 1em
	background-color tomato
	left -1.2em
	top 0

.calculator-materials-item
	position absolute
	appearance none
.calculator-materials-item:checked + .check__box
	background-color red



// materials-img

.material-img
	display none

#material-1
	width 200px
	height 200px
	background-image url("https://i.pinimg.com/736x/98/d8/4c/98d84c9c624b3576d978c827d0780798--the-number--white-image.jpg")

#material-2
	width 200px
	height 200px
	background-image url("https://for-teacher.ru/edu/data/img/pic-023wvfl6tn-007.jpg")
//