section.faq
	.container
		.faq-content
			h2.section-title Вопрос-ответ
			.faq-list
				.faq-list-left
					.faq-item
						input#faq01(type="checkbox", name="FAQ")
						label.faq-label(for="faq01") Что делать если произошёл гарантийный случай во время гарантийного периода?
						p.faq-submenu Мы даем гарантию до 2 лет. Поэтому в случае поломки свяжитесь с нами, и мы бесплатно заменим сломанную деталь на новую.
					.faq-item
						input#faq02(type="checkbox", name="FAQ")
						label.faq-label(for="faq02") А если стол сломается после гарантийного периода?
						p.faq-submenu Столешницы с фреймом надежные, чтобы прослужить более 10 лет. Однако, если что-то выйдет из строя, Вы всегда можете купить у нас запасную деталь, будь то подъемная опора, пульт управления или блок синхронизации.
					.faq-item
						input#faq03(type="checkbox", name="FAQ")
						label.faq-label(for="faq03") У меня уже есть столешница. Могу ли я заказать только фрейм?
						p.faq-submenu Да, конечно. Для этого позвоните нам или при выборе стола укажите «Без столешницы»
				.faq-list-right
					.faq-item
						input#faq04(type="checkbox", name="FAQ")
						label.faq-label(for="faq04") Я могу заказать нестандартную столешницу?
						p.faq-submenu Да, конечно. Вы можете заказать столешницу из ЛДСП, массива, шпона или фанеры. Вы можете выбрать цвет, толщину, можете сделать необходимые вырезы и оснастить столешницу встраиваемыми розетками или гаджетами. Мы с удовольствием осуществим ваши желания с кротчайшием сроки. Для этого позвоните нам или оставьте заявку на индивидуальный заказ.
					.faq-item
						input#faq05(type="checkbox", name="FAQ")
						label.faq-label(for="faq05") Обычно у стола две опоры. Он поднимается равномерно?
						p.faq-submenu Движение всего стола происходит равномерно. Опоры поднимаются синхронно. За это отвечает блок синхронизации.