footer.footer
	.container
		.footer-content
			.footer-left
				img.logo(src="", alt="")
				.footer-links
					.footer-addreses
						a(href="") Ул. Платонова 1, офис 315
						a(href="") belpovish@mail.ru
					.footer-phones
						a(href="") +375 29 190 75 02
						a(href="") +375 29 632 40 77
					button.btn-secondary.callback Перезвоните мне
					.footer-policy
						a(href="") Публичная оферта
						a(href="") Политика конфиденциальности
			.footer-right
				.map
					iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A46eafc1ea138678b763fcf057654b06d13e9e367ee2e84a3914b2a64058a5817&amp;source=constructor"  frameborder="0")