footer
	.container
		.footer-content
			.footer-left
				img.logo(src="", alt="")
				.footer-links
					a(href="") Ул. Платонова 1, офис 315
					a(href="") belpovish@mail.ru
					a(href="") +375 29 190 75 02
					a(href="") +375 29 632 40 77
					button.btn-secondary Перезвоните мне
					a(href="") Публичная оферта
					a(href="") Политика конфиденциальности
			.footer-right
				.map