section.good
	.container
		.good-content
			h2.section-title Сели, встали, повторили...
			.good-text
				.p.question Поможет ли избежать различных проблем со здоровьем смена позы в течение дня?
				.good-facts
					p.good__fact При смене положения тела регулируется нагрузка на наш скелет и мышцы. В это вресмя одни части тела отдыхают, а другие тонизируются. Так мы достигаем баланс в нагрузках.
					p.good__fact Вставая и садясь в течение дня, мы помогаем сердцу работать активнее: разносить кровь и кислород через все органы к мозгу и обратно. Это питает наше тело энергией, а оно в благодарность дает нам бодрость, повышенную концентрацию и здоровый организм.

			.get-up
				h2.section-title Вставайте каждый час на 15 минут во время работы и вы:
				.get-up-bullets
					+bullet('4-useful/1', 'Активизируете творческое мышление')
					+bullet('4-useful/2', 'Приведете мышцы в тонус')
					+bullet('4-useful/3', 'Повысите потенцию')

					+bullet('4-useful/4', 'Сбросите лишние киллограммы ')
					+bullet('4-useful/5', 'Улучшите работу сердца')
					+bullet('4-useful/6', 'Уменьшите боли в спине')

					+bullet('4-useful/7', 'Сможете получить до 2-х часов свободного времени ')