section.harm
	.container
		.harm-content
			.harm-text-block
				h2.section-title Как сидячий образ жизни портит нам жизнь
				p.harm-text Мы сидим >70% своего дня: в автомобиле, обедая, на работе, смотря вечером фильм. И вот к чему приводит такой образ жизни:
			img.harm-img(src="static/img/content/2-harm/desktop.jpg", alt="compare")

			.harm-bullets
				+bullet("2-harm/1", "95% всех проблем в спине возникают из-за сидячего образа жизни. Одни из них: сколеоз, радикулит и остеохондроз")
				+bullet("2-harm/4", "Образование жиросжигающих ферментов падает на 90%, если мы сидим >6 часов в день, что приводит к ожирению. А от него ежегодно в мире умирает 17 миллион человек")
				+bullet("2-harm/3", `Увеличивается риск сердечно-сосудистых заболеваний ( таких как ишемия, стенокардия, инфаркт миокарда) на 40% при отсутствии физической активности`)
				+bullet("2-harm/2", "27% случаев диабета вызваны малоподвижным образом жизни ")

				+bullet("2-harm/5", "Возникает усталость в спине и мышцах шеи за счет замедления кровоснабжения")
				+bullet("2-harm/6", "Отсутствие физической активности является 4-м фактором риска смертности в мире")
				+bullet("2-harm/7", "Снижение половой функции и уровня активности ")
				+bullet("2-harm/8", "Появялются головные боли и хроническая усталость")
				+bullet("2-harm/health", '* Данные Всемирной Организации Здравоохранения')