header
	.contianer
		.header-content
			img.logo(src="", alt="")
			.header-right
				button.btn-secondary
				.header-phones
					a(href="tel:375291907502") +375 29 190 75 02
					a(href="tel:375296324077") +375 29 632 40 77
				.burger
					span
					span
					span

section.hero
	.container
		.hero-content
			h1 Столы с регулируемой высотой для работы стоя|
			p.header-descriptor Повышает эффективность работы на 20% и избавляет от боли в пояснице.
			button.btn.cta Подобрать стол

section.hero-bullets
	.container
		.hero-bullets-content
			+bullet('', 'Гарантия 2 года')
			+bullet('', 'Бесплатная доставка и сборка по Минску/Минскому району в течение 3 дней')
			+bullet('', 'Столешницы из ЛДСП любого цвета')
			+bullet('', 'Безопасный и простой механизм,  с которым справится даже ребенок')
