section.own
	.container
		h2.seciton-title Собственное производство столешниц
		.own-content
			.own-img
			.own-text
				img(src="", alt="")
				p Мы производим ЛДСП столешницы на протяжение 6 лет, что позволяет делать их с повышенной влаго и огнеустойчивостью.
			.own-bullets
				+bullet('9-produce/1', 'Не выцветает на солнце')
				+bullet('9-produce/2', 'Легко отмываются пятна от жира и вина')
				+bullet('9-produce/3', 'Не требует специального ухода ')

	.own-colors
		.container
			h2.section-title.own-colors-title Основные цветовые решения
			ul.own-colors-list
				li.own-color-item.own-color-item--1 Белый снег
				li.own-color-item.own-color-item--2 Северное<br>дерево<br>светлое
				li.own-color-item.own-color-item--3 Серый камень
				li.own-color-item.own-color-item--4 Дуб молочный
				li.own-color-item.own-color-item--5 Дуб сонома
				li.own-color-item.own-color-item--6 Бук Бавария
				li.own-color-item.own-color-item--7 Венге магия
				li.own-color-item.own-color-item--8 Черный

			p * По желанию клиента сможем изготовить столешницу в любом другом цвете