section.reviews
	.container
		.reviews-content
			h2.section-title Отзывы

			.reviews-slider-wrap
				.reviews-slider

					.reveiws-slider-item
						.reveiws-slider-item-profile
							img.reveiws-item-profile__img(src="", alt="")
							p.reviews-item-profile__name Елена
						p.reviews-item-desk Черный фрейм + ЛДСП венге магия
						p.reviews-item-text Заказывала стол своей дочери, которая идет в первый класс. Качеством, доставкой, сборкой и обслуживанием довольна, отдельное спасибо менеджеру Андрею, что отвечал на все вопросы и помог с выбором столешницы под нащ дизайн. Ребенок счастлив и ему нравится лепить, рисовать, играть в игрушки и стоя и сидя, особенно после того, как я расссказала ему, что так ты будешь не сгорблена как горбун квазимода))

					.reveiws-slider-item
						.reveiws-slider-item-profile
							img.reveiws-item-profile__img(src="", alt="")
							p.reviews-item-profile__name Дмитрий
						p.reviews-item-desk Белый фрейм + ЛДСП дуб молочный
						p.reviews-item-text Отличный стол, не к чему придраться, качественное ЛДСП, толстый металл, нет не сколов, не царапин ничего. Боялся, что стол будет шататься при высоких положениях, но такого нет.

					.reveiws-slider-item
						.reveiws-slider-item-profile
							img.reveiws-item-profile__img(src="", alt="")
							p.reviews-item-profile__name Олег
						p.reviews-item-desk Белый фрейм + ЛДСП дуб сонома
						p.reviews-item-text После недели работы за ним, понял, что стол незаменим. В течение дня поднимаю-опускаю его, вбил в память уже все положения, спина меньше болит, работа волшебным образом быстрее делается, короче огромное спасибо за стол.

					.reveiws-slider-item
						.reveiws-slider-item-profile
							img.reveiws-item-profile__img(src="", alt="")
							p.reviews-item-profile__name Игорь
						p.reviews-item-desk Черный фрейм + северное дерево
						p.reviews-item-text После недели работы за ним, понял, что стол незаменим. В течение дня поднимаю-опускаю его, вбил в память уже все положения, спина меньше болит, работа волшебным образом быстрее делается, короче огромное спасибо за стол.