section.sport
	.container
		.sport-content
			h2.section-title.sport-title Я занимаюсь спортом, мне ничего не грозит
			img.sportsman(src="static/img/content/3-sport/sport.png", alt="sportsman")
			.sport-text
				h3.sport-text__title Занимаетесь спортом? Отлично. Но этого недостаточно.
				p.sport-text__descr Как показывают недавние исследования, негативные последствия сидячего положения в течение дня не исправят кратковременные тренировки.
				p.sport-text__descr Поэтому мало заниматься спортом каждый день, нужно просто меньше времени сидеть.