section.stats
	.container
		.stats-content
			h2.section-title Характеристики и детали фрейма
			.stat-list
				+stat('1', 'Высота ножек от 64 до 129 см. Подойдет, как самым маленьким, так и взрослым')
				+stat('2', 'Громость работы механизма до 50 дб. Никого не разбудете в соседней комнате, если захочется работать ночью')
				+stat('3', 'Грузоподъемность до 120 кг. Не бойтесь сильно облакотиться или сесть на него')

				+stat('4', 'Контроллер состояниями памяти дает возможность запоминать высоту стола в  3-х положениях')
				+stat('5', 'Общий вес 30 кг. Стол не будет шататься даже, если вы подымите его на максимальную высоту и сядете сверху')
				+stat('6', 'Система защиты от случайных нажатий поможет вам спокойно работать, даже если вы рукой или коленкой по контроллеру')

				+stat('7', 'Система антистолкновения. Обезапасит вас и вашего ребенка от зажатий')
				+stat('8', 'Диапазон длины фреймаот 110 до 180 см позволяет установить столешницу от 120 до 200 см')
				+stat('9', 'Плавный подъем/спуск со скоростью  3.8 см/с. Ваш кофе на столе не прольётся, а рабочее положение вы сменеите в течение 20 секунд')


		.only-frame
			h2.section-title Есть столешница с которой не хотите расставаться, но нужен фрейм?
			h2.seciton-title-only-frame Вы можете заказать его отдельно в белом или черном цвете