section.trinkets
	.container
		.trinkets-content
			h2.section-title Аксесуары
			.trinkets-slider-wrap
				.trinkets-slider
					+trinket('1', '1', 'Держатель для проводов Ergo Cabel', 'Надежно прячет ваши провода и защищает их от повреждений', '80', 'Гарантия 1 год', 'Длина 130 см', 'Съемные сегменты')
					+trinket('2', '2', 'Пропуск для кабеля с ресничкой', 'Прячет ненужные провода и крепится в столешницу', '35', 'Размер: 160*80 мм', 'Материал: алюминий')
					+trinket('3', '3', 'Держатель системного блока', 'Используется для крепления системного блока любого размера к столу', '100', 'Гарантия 1 год')

					+trinket('4', '4', 'Заглушка для проводов ', 'Прячет ненужные провода и крепится в столешницу', '10', 'Диаметр: 60 мм', 'Материал: пластик')
					+trinket('5', '5', 'Лоток для проводов', 'Крепится под стол и служит для сбора проводов в одном месте', '45', 'Размер: 850*90*80 мм', 'Материал: металл')
					+trinket('6', '6', 'Удлинитель вертикальный с USB', 'Не нужно лазить под столом, чтобы подключить продвода — теперь всё под рукой', '145', 'Цвета: черный и серебристый', 'Материал: металл + пластик')