section.trinkets
	.container
		.trinkets-content
			h2.section-title Аксесуары
			.trinkets-slider
				+trinket('1', '1', 'Держатель для проводов Ergo Cabel', 'Надежно прячет ваши провода и защищает их от повреждений', '80', 'Гарантия 1 год', 'Длина 130 см', 'Съемные сегменты')
				+tirnket('1', '2', 'Пропуск для кабеля с ресничкой', 'Прячет ненужные провода и крепится в столешницу', 'Размер: 160*80 мм', 'Материал: алюминий')