section.who#who
	.container
		.who-content
			h2.section-title Для кого этот стол
			.who-child
				h3.who-title Для вашего ребенка
				.who-child-content
					.who-bullets
						+bullet('5-1-child/1', 'Профилактика правильной осанки — ребенок скажет вам «спасибо» за здоровую спину')
						+bullet('5-1-child/2', 'Стол от 1-го класса до окончания ВУЗа — надежность стола и диапазон высот позволяет использовать его более 10 лет')
						+bullet('5-1-child/3', 'Повышает концентрацию — ребенок будет быстрее делать домашнее задание, а у родителей появится больше свободного времени')
						+bullet('5-1-child/4', 'Интереснее заниматься за таким столом, чем сидеть в гаджетах')
						+bullet('5-1-child/5', 'Возможность управление столом — Внесение элемента игры в процесс обучения, что займет даже гиперактивного ребенка')
					.who-slider-wrap
						.who-slider
							.who-child-slide-1.who-slide
							.who-child-slide-2.who-slide
							.who-child-slide-3.who-slide


			.who-freelance
				h3.who-title Для работы на дому
				.who-freelance-content
					.who-slider-wrap
						.who-slider
							.who-slide.who-freelance-slide-1
							.who-slide.who-freelance-slide-2
							.who-slide.who-freelance-slide-3

					.who-bullets
						+bullet('5-2-freelance/1', 'Будьте в тонусе даже во время работы и быстро справляйтесь с любой задачей')
						+bullet('5-2-freelance/2', 'Избавьтесь от болей в спине и улучшите осанку')
						+bullet('5-2-freelance/3', 'Сократите риск сердечных заболеваний и повысьте кровообращение')
						+bullet('5-2-freelance/4', 'Сбросьте лишние килограммы')
						+bullet('5-2-freelance/5', 'Улучшите половую функцию')
						+bullet('5-2-freelance/6', 'Получите до 2-ух часов свободного времени')


			.who-office
				h3.who-title Для подчиненных
				.who-office-content
					.who-bullets
						+bullet('5-3-office/1', 'Повысить эффективность и производительность сотрудников, а значит повысить доход компании')
						+bullet('5-3-office/2', 'Сохранить активность подчиненных в течение рабочего дня')
						+bullet('5-3-office/3', 'Создать динамичную и позитивную атмосферу в офисе')
						+bullet('5-3-office/4', 'Сократить расходы на больничные')
						+bullet('5-3-office/5', 'Увеличить лояльность сотрудников и желание приходить на работу')

						+bullet('5-3-office/6', 'Работа с корпоративными заказчиками от А до Я - Профессиональные дизайнеры создадут для Вас идеальное офисное пространство и наполнят его необходимыми  предметами интерьера.')
					.who-slider-wrap
						.who-slider
							.who-slide.who-office-slide-1
							.who-slide.who-office-slide-2
							.who-slide.who-office-slide-3

		.compare