section.who
	.container
		.who-content
			h2.section-title Для кого этот стол
				.who-child
					h3.section-title Для вашего ребенка
					.who-child-content
						.who-bullets
							+bullet('5-1-child/1', 'Профилактика правильной осанки — ребенок скажет вам «спасибо» за здоровую спину')
							+bullet('5-1-child/2', 'Стол от 1-го класса до окончания ВУЗа — надежность стола и диапазон высот позволяет использовать его более 10 лет')
							+bullet('5-1-child/3', 'Повышает концентрацию — ребенок будет быстрее делать домашнее задание, а у родителей появится больше свободного времени')
							+bullet('5-1-child/4', 'Интереснее заниматься за таким столом, чем сидеть в гаджетах')
							+bullet('5-1-child/5', 'Возможность управление столом — Внесение элемента игры в процесс обучения, что займет даже гиперактивного ребенка')
						.who-slider