.btn
	padding 11px 60px
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.045) 100%), #FF5726;
	background-blend-mode: overlay, normal;
	box-shadow: 0px 5.2029px 0px #CC3C0C;
	border-radius: 12px;
	border none
	color #fff
	f-btn()
	&-secondary
		background none
		border 3px solid clr-prim
		padding 11px 60px
		border-radius: 12px;
		color clr-f