// ЦВЕТА

clr-prim = #FF6A3F
clr-prim-d = #BA1F1F
clr-second = #FF9F1C

clr-bg--l = #1C1C1C
clr-bg--d = #111213

clr-f = #211617
clr-f-l = #BEBEBE
// РАЗМЕРЫ

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px


f-reg = 22px
f-headliner = 50px
f-descriptor = 23px
f-title = 44px
f-minititle = 32px


desktop = 1260px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 340px
phoneLand = 480px


// ШРИФТЫ

mainFont = Fira Sans
