.stat
	max-width 363px
	margin-bottom 62px
	&__pic
		width 100%
		margin-bottom 26px

	&-list
		display flex
		flex-wrap wrap
		justify-content space-between



.only-frame
	padding 100px 0 150px
	position relative
	img
		position absolute
		right 0
		top 10%
		width 688px
	.section-title
		max-width 568px
		margin 0
		&-only-frame
			color clr-prim
			margin-bottom 26px