.form
	background-color clr-f
	color #fff
	&-title
		color #fff
		&__descr
			color #fff
	&-content
		display flex
		justify-content space-between
	&-title
		// max-width 626px
		margin-bottom 10px
	&-btn
		width 309px
	form
		width 300px


		input
			f-btn()
			font-size 18px
			padding 11px 36px
			border none
			border-radius 12px
			margin-bottom 16px

@media (max-width 720px)
	.form-content
		flex-direction column
	.form-title
		margin-bottom 20px !important
		&__descr
			margin-bottom 20px

	form
		margin 0 auto
		width 100%
	.form-text
		max-width 310px
		margin 0 auto

@media (max-width ipadS)
	.form-content
		display flex
		flex-direction column
		form
			display block
			margin 0 auto
	.form-text
		margin-bottom 42px
