.form
	background-color clr-f
	color #fff
	&-content
		display flex
		justify-content space-between
	&-title
		// max-width 626px
		margin-bottom 10px
	form
		width 300px
		
		input
			f-btn()
			font-size 18px
			padding 11px 36px
			border none
			border-radius 12px
			margin-bottom 16px