.trinket-item
	max-width 354px
	padding 0 32px
	img
		width 100%
		margin-bottom 20px
	.trinket-feature
		f-btn()
	.trinket-title
		f-btn()
		margin-bottom 20px
	.trinket-descr
		margin-bottom 20px
	.trinket-btn
		margin-top 20px


.slick-arrow
	top -85px !important
	width 64px !important
	height 64px !important
	&:before
		font-size 48px !important
		color clr-prim !important
.slick-prev
		left 80% !important
		right 0 !important
.slick-next
	right 10% !important


.trinkets
	.slick-list
	.draggable
		overflow visible !important

.trinkets-phone-pop
	height 370px !important

.trinkets-pop-name
	margin-bottom 26px

.trinket-cost
	font-weight 700

.trinket-name__input
.trinket-cost__input
		display none
		appearance none

@media (max-width 720px)
	.slick-arrow
		z-index 10
		top 15% !important
	.slick-prev
		left -5% !important
	.slick-next
		right -5% !important
	.trinket-btn
		padding 20px 55px
	.trinket-item
		padding 0 16px

@media (max-width ipadS && min-width 721px)
	.slick-prev
		left 65vw !important