.good-facts
	display flex
	justify-content space-between
.good__fact
	max-width 400px

.get-up-bullets
	max-width 1074px
	display flex
	justify-content space-between
	align-items flex-start
	flex-wrap wrap
	.bullet
		max-width 336px