.who
	.section-title
		text-align center
	&-child-content
	&-freelance-content
	&-office-content
		display flex
		justify-content space-between
		position relative
		padding 62px 0

	&-title
		f-minititle()
		margin-left 180px
		// margin-bottom 62px


	&-slider
		width 100%
		img
			object-fit cover !important

		&-wrap
			width 40%
			max-height 509px
			position sticky
			top 50px
			bottom 50px

.slick-slide
	height 100% !important

.who-bullets
	width 49%
.who-content
	.bullet
		display flex
		align-items center
		// justify-content space-between
		&__icon
			margin-right 26px
		&__text
			min-width 431px
			f-reg()
			text-align left


.dots
	display flex !important
	justify-content center
	padding-top 25px
	li
		display inline-block
		border-radius 4px
		width 66px
		height 11px
		background-color clr-prim
		margin-right 20px
		opacity 0.5
		button[role="tab"]
			opacity 0
		&:hover
			opacity 0.8
			cursor pointer
	li.slick-active
		opacity 1

@media (max-width 720px)
	.who
		&-title
			margin-left 0
			margin-bottom 0
			width 100%
			font-size 28px
			text-align center
		&-bullets
			width 100%
			align-items center
			justify-content center
			position relative
			right 0
			left 0
	.who-slider-wrap
		width 100%
		order -1

	.bullet
		position relative
		flex-direction column
		margin 0 30px 62px
		&__icon
			margin-right 0 !important
		&__text
			min-width 100% !important
			text-align center !important

@media (max-width ipadS)
	.who
		padding-bottom 0
		&-child-content
		&-freelance-content
		&-office-content
			flex-direction column
		&-office-content
			padding-bottom 0
	.who-slider-wrap
		position static
		width 100%
		order -1
		margin-bottom 144px