.footer
	&-content
		display flex
		justify-content space-between
		f-reg()
	&-links
		display flex
		flex-direction column
		justify-content space-between
		align-items space-between
	&-addreses
	&-policy
	&-phones
		margin-bottom 26px
		a
			display block
	.callback
		margin-bottom 26px