.bullet__icon
	height 130px

.harm
	&-content
		position relative
	&-text
		margin-bottom 164px
		&-block
			width 545px
	&-img
		width 50%
		height 350px
		position absolute
		top 0
		right 0
		background-image url('../img/content/2-harm/desktop.jpg')
		background-size cover
	.bullet__text
		font-size 18px

.harm-bullets
	display flex
	justify-content space-between
	flex-wrap wrap


@media (max-width: 720px)
	.section-title
		margin-bottom 42px
	p
		font-size 18px !important
	.harm-text-block
		max-width 100%
	.harm-img
		position relative
		width 100%
		height 850px !important	
		right 0
		left 0

	.harm-bullets
		justify-content center


@media (max-width 766px)
	.harm-content
		display flex
		flex-wrap wrap
	.harm-text
		margin-bottom 62px
	.harm-img
		margin-bottom 62px
		width 100%
		height 100vh
		order 2
		background-size cover !important
		background-image url('../img/content/2-harm/mobile.jpg') !important

@media (max-width ipadS)
	.harm-text
		margin-bottom 32px
	.harm-img
		position relative
		width 100%
		background-size contain
		background-position center center
		background-repeat no-repeat
		margin-bottom 42px